<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmsoft.crawling.mapper.CrawlMapper">

    <select id="getCrawlList" resultType="com.cmsoft.crawling.dto.CrawlDto">
        SELECT * FROM crawl
    </select>

    <insert id="insertData" parameterType="com.cmsoft.crawling.dto.CrawlDto">
        INSERT INTO crawl
            (title, price, location, interest, chatCount )
        VALUES  (#{title}, #{price}, #{location}, #{interest}, #{chatCount})
    </insert>
</mapper>